@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  transition: all 0.4s ease;
}

body {
  font-family: "Poppins", sans-serif;
  padding-top: 7rem;
  background-color: #e2e7e6;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  /* kaydırmalar yumuşak gerçekleşir */
}

.border {
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0.5rem;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2rem;
}

header {
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7rem;
  z-index: 1000;
}

header .logo {
  width: 10rem;
  height: 6rem;
  display: grid;
  place-items: center;
}

header .logo img {
  width: 100%;
  height: 100%;
}

header .address .top {
  font-size: 1.4rem;
  font-weight: 300;
  color: rgb(210, 210, 210);
}

header .search {
  display: flex;
  justify-content: space-evenly;
  width: 60rem;
  height: 4rem;
  border-radius: 0.4rem;
}

header .search select {
  width: 8rem;
  text-align: center;
  border-radius: 0.6rem 0 0 0.6rem;
}

header .search input {
  width: 100%;
  text-indent: 1rem;
  /* sadece yazıları etkileyen padding benzeri yapı, bunun yerine padding de kullanabilirdik */
}

header .search button {
  width: 4.5rem;
  display: grid;
  place-items: center;
  background-color: #fabd68;
  border-radius: 0 0.6rem 0.6rem 0;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 0.5rem;
}

header nav .navigation-item {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  border: 2px solid transparent;
}

header nav .navigation-item:hover {
  border-color: white;
}

header nav .navigation-item span {
  font-size: 1.2rem;
}

header nav .navigation-item p {
  font-size: 1.4rem;
  font-weight: bold;
}
/* sepeti içerem div */
header nav .navigation-cart {
  flex-direction: row;
  align-items: center;
}

header nav .navigation-cart i {
  font-size: 2.4rem;
}

header nav .navigation-cart span {
  font-size: 1.6rem;
  font-weight: bold;
}

/* ^ PANEL */

.panel {
  background-color: #212f3d;
  display: flex;
  color: white;
  align-items: center;
  padding: 0.5rem 3rem;
  height: 4rem;
  justify-content: space-between;
}

.panel .left {
  display: flex;
  gap: 6rem;
  align-items: center;
}

.panel .left .all {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.panel .left i {
  font-size: 1.2rem;
}

.panel .left .panel-options {
  display: flex;
  gap: 2rem;
}

.panel p {
  font-size: 1.4rem;
}

.panel .right {
  font-weight: bold;
}

/* * HERO  */

.hero {
  background-image: url(images/hero_image.jpg);
  height: 35rem;
  background-size: cover;
  background-position: center end;

  display: flex;
  justify-content: center;
  align-items: end;
}

.hero-text {
  background-color: white;
  width: 80%;
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero-text a {
  color: #92bdc6;
}

/* * CATEGORİES */

.categories,
.discounts {
  padding: 5rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 1rem;
}

.categories .category-box,
.discounts .discount-box {
  background-color: white;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.198);
  position: relative;
  /* ribbonu isteğimize göre konumlandırmak için bunu verdik */
}

.categories .category-box h2 {
  margin-left: 1.5rem;
}

.categories .category-box:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.408);
}

.categories .category-box .category-img {
  width: 100%;
  height: 30rem;
  margin-top: 1.2rem;
}

.categories .category-box .category-img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.categories .category-box button {
  background-color: transparent;
  margin-top: 1rem;
  padding: 0.8rem 1.6rem;
  border: 2px solid transparent;
  cursor: pointer;
  color: #92bdc6;
  font-size: 1.7rem;
  font-weight: 600;
  border-radius: 0.5rem;
}

.categories .category-box button:hover {
  border-color: #92bdc6;
}

.opportunities {
  text-align: center;
}

/* ^ DISCOUNTS */

.discount-box .image {
  width: 100%;
  height: 30rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.discount-box .image img {
  width: 100%;
  height: 100%;
  max-width: 30rem;
}

.discount-box:first-child {
  animation: border 3s infinite;
}

.discount-box .content p {
  font-size: 1.5rem;
  color: crimson;
  margin: 1rem 0;
}

.discount-box .content p:last-child {
  font-size: 2.4rem;
  font-weight: bold;
  color: rgb(34, 34, 34);
}

.discount-box .ribbon {
  font-size: 2rem;
  position: absolute;
  top: -1rem;
  right: -1rem;
  height: 5rem;
  width: 5rem;
  background-color: red;
  color: white;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.7);
  display: grid;
  place-items: center;
  border-radius: 50%;

  animation: bounce 1.5s infinite;
}

.go-top {
  display: block;
  background-color: #364759;
  text-align: center;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
}

/* * FOOTER */

footer {
  background-color: #212f3d;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  padding: 2rem;
  gap: 2rem;
}

footer .footer-box h3 {
  font-size: 1.8rem;
}

footer .footer-box ul {
  margin-top: 1rem;
}

footer .footer-box ul li a {
  color: rgba(200, 200, 200, 0.8);
  font-size: 1.5rem;
  font-weight: 200;
}

footer .footer-box ul li a:hover {
  color: #fabd68;
}

/* ANIMASYONLAR */

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes border {
  0% {
    border: 2px solid transparent;
  }
  10% {
    border: 2px solid crimson;
  }
  30% {
    border: 2px solid transparent;
  }
  100% {
    border: 2px solid transparent;
  }
}

/* * RESPONSİVE TASARIM */

@media (max-width: 1200px) {
  header .navigation-item,
  header .address {
    display: none !important;
  }

  header .search {
    max-width: 40rem;
  }

  .panel .left .panel-options {
    display: none;
  }

  .hero {
    background-size: 130vw calc(100vh - 110px);
    background-position: 70% 0%;
  }

  .hero-text {
    flex-direction: column;
    text-align: center;
  }
}
